.nav-bar{
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  color: white;
  background-color: black;
  grid-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 1px 2px 10px white;
}
#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  color: lawngreen;
  font-size: 25px;
}
.nav-link {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  color: white;
  grid-gap: 20px;
}
.link {
  color: white;
}
.nav-link:hover {
  color: lawngreen
}





